<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>metadata</key>
    <dict>
        <key>version</key>
		<string>2.0.2</string>
        <key>format</key>
        <integer>3</integer>
        <key>size</key>
        <string>{2207.0,1782.0}</string>
        <key>name</key>
        <string>Untitled</string>
        <key>textureFileName</key>
        <string>spritesheets.png</string>
    </dict>
    <key>frames</key>
    <dict>
        <key>earth_1.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{512.0,512.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{512.0,512.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{512.0,512.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1230.0,1030.0},{512.0,512.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>earth_2.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{512.0,512.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{512.0,512.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{512.0,512.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{716.0,1034.0},{512.0,512.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>earth_3.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{512.0,512.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{512.0,512.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{512.0,512.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{950.0,516.0},{512.0,512.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>made-with-zwoptex</key>
        <dict>
            <key>spriteSize</key>
            <string>{228.0,228.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{228.0,228.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{228.0,228.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,1550.0},{228.0,228.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>station_1.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{366.0,514.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{366.0,514.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{366.0,514.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,518.0},{366.0,514.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>station_2.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{349.0,514.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{349.0,514.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{349.0,514.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{365.0,1034.0},{349.0,514.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>station_3.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{308.0,514.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{308.0,514.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{308.0,514.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{435.0,2.0},{308.0,514.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>station_4.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{330.0,514.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{330.0,514.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{330.0,514.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{370.0,518.0},{330.0,514.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>station_5.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{361.0,514.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{361.0,514.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{361.0,514.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,1034.0},{361.0,514.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>stone_1.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{246.0,514.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{246.0,514.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{246.0,514.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{702.0,518.0},{246.0,514.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>sun_1.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{512.0,512.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{512.0,512.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{512.0,512.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{745.0,2.0},{512.0,512.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>sun_2.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{512.0,512.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{512.0,512.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{512.0,512.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1259.0,2.0},{512.0,512.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>tree_1.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{430.0,512.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{430.0,512.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{430.0,512.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1773.0,2.0},{430.0,512.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>tree_2.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{497.0,512.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{497.0,512.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{497.0,512.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1464.0,516.0},{497.0,512.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>tree_3.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{431.0,514.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{431.0,514.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{431.0,514.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,2.0},{431.0,514.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>tree_4.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{275.0,512.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{275.0,512.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{275.0,512.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1744.0,1030.0},{275.0,512.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
    </dict>
</dict>
</plist>
